p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.tooltiptext {
  background-color: black;
  opacity: 0.6;
  color: #fff;
  border-radius: 3px;
  min-height: 20px;
  min-width: 50px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
